nav {
  background: linear-gradient(to right, rgba(141, 190, 209, 0.918), rgb(0, 113, 189));
  padding: 10px;
}

h1 {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}